@charset "utf-8";


/* HTML and Body Styles */

h2, h3 {
	color: darkred;
	padding-bottom: 0.5em;
}

html {
    height: 100%;
    width: 100%;
    font-family: Verdana, "Geneva", sans-serif;
}

.lead {
    font-family: Verdana, "Geneva", sans-serif;
	font-size: 1em;
	color: darkblue;
}

.featurette-image {
	width: 100%;
}

.first-slide, .second-slide {
	width: 100%;
}

.cmt{
	color:darkgreen;
	text-align: center;
}