@charset "utf-8";


html {
    height: 100%;
    width: 100%;
    font-family: Verdana, "Geneva", sans-serif;
}

.lead {
    font-family: Verdana, "Geneva", sans-serif;
	font-size: 1em;
	color: darkcyan;
}

h2 {
    padding-bottom: 0.5em;
    color:darkblue;
}

img {
	width: 100%;
}

.edList li{
    color:darkblue;
}

h1{
    color: darkred;

}